%h1 Tables for #s411

%h2 Table 5: Storified Tweets by Gender #MLA16 #s411

%table.table.table-hover.table-bordered#table5
	%thead
		%tr
			%th 
			%th Female presenter named
			%th Male presenter named
			%th Female non-presenter named
			%th Male non-presenter named
			%th No male/female identified
			%th Total tweets by gender
	%tbody
		%tr
			%th{:scope=>"row"} Female Tweeter
			%td
				%script{:type=>"text/jitp-template"}
					:plain
						<%= sprintf('%i (%.2f%%)', jitp_data('s411')['female_tweeter']['female_presenter_named'],  (jitp_data('s411')['female_tweeter']['female_presenter_named'] / (jitp_data('s411')['female_tweeter']['female_presenter_named'] + jitp_data('s411')['female_tweeter']['male_presenter_named'] + jitp_data('s411')['female_tweeter']['female_non-presenter_named'] + jitp_data('s411')['female_tweeter']['male_non-presenter_named'] + jitp_data('s411')['female_tweeter']['no_person_named'] + jitp_data('s411')['male_tweeter']['female_presenter_named'] + jitp_data('s411')['male_tweeter']['male_presenter_named'] + jitp_data('s411')['male_tweeter']['female_non-presenter_named'] + jitp_data('s411')['male_tweeter']['male_non-presenter_named'] + jitp_data('s411')['male_tweeter']['no_person_named'])) * 100)  %>
			%td.formula
				%script{:type=>"text/jitp-template"}
					:plain
						<%= sprintf('%i (%.2f%%)', jitp_data('s411')['female_tweeter']['male_presenter_named'],  (jitp_data('s411')['female_tweeter']['male_presenter_named'] / (jitp_data('s411')['female_tweeter']['female_presenter_named'] + jitp_data('s411')['female_tweeter']['male_presenter_named'] + jitp_data('s411')['female_tweeter']['female_non-presenter_named'] + jitp_data('s411')['female_tweeter']['male_non-presenter_named'] + jitp_data('s411')['female_tweeter']['no_person_named'] + jitp_data('s411')['male_tweeter']['female_presenter_named'] + jitp_data('s411')['male_tweeter']['male_presenter_named'] + jitp_data('s411')['male_tweeter']['female_non-presenter_named'] + jitp_data('s411')['male_tweeter']['male_non-presenter_named'] + jitp_data('s411')['male_tweeter']['no_person_named'])) * 100) %>
			%td.formula
				%script{:type=>"text/jitp-template"}
					:plain
						<%= sprintf('%i (%.2f%%)', jitp_data('s411')['female_tweeter']['female_non-presenter_named'],
						(jitp_data('s411')['female_tweeter']['female_non-presenter_named'] / (jitp_data('s411')['female_tweeter']['female_presenter_named'] + jitp_data('s411')['female_tweeter']['male_presenter_named'] + jitp_data('s411')['female_tweeter']['female_non-presenter_named'] + jitp_data('s411')['female_tweeter']['male_non-presenter_named'] + jitp_data('s411')['female_tweeter']['no_person_named'] + jitp_data('s411')['male_tweeter']['female_presenter_named'] + jitp_data('s411')['male_tweeter']['male_presenter_named'] + jitp_data('s411')['male_tweeter']['female_non-presenter_named'] + jitp_data('s411')['male_tweeter']['male_non-presenter_named'] + jitp_data('s411')['male_tweeter']['no_person_named'])) * 100) %>
			%td.formula
				%script{:type=>"text/jitp-template"}
					:plain
						<%= sprintf('%i (%.2f%%)', jitp_data('s411')['female_tweeter']['male_non-presenter_named'],
						(jitp_data('s411')['female_tweeter']['male_non-presenter_named'] / (jitp_data('s411')['female_tweeter']['female_presenter_named'] + jitp_data('s411')['female_tweeter']['male_presenter_named'] + jitp_data('s411')['female_tweeter']['female_non-presenter_named'] + jitp_data('s411')['female_tweeter']['male_non-presenter_named'] + jitp_data('s411')['female_tweeter']['no_person_named'] + jitp_data('s411')['male_tweeter']['female_presenter_named'] + jitp_data('s411')['male_tweeter']['male_presenter_named'] + jitp_data('s411')['male_tweeter']['female_non-presenter_named'] + jitp_data('s411')['male_tweeter']['male_non-presenter_named'] + jitp_data('s411')['male_tweeter']['no_person_named'])) * 100) %>
			%td.formula
				%script{:type=>"text/jitp-template"}
					:plain
						<%= sprintf('%i (%.2f%%)', jitp_data('s411')['female_tweeter']['no_person_named'],
						(jitp_data('s411')['female_tweeter']['no_person_named'] / (jitp_data('s411')['female_tweeter']['female_presenter_named'] + jitp_data('s411')['female_tweeter']['male_presenter_named'] + jitp_data('s411')['female_tweeter']['female_non-presenter_named'] + jitp_data('s411')['female_tweeter']['male_non-presenter_named'] + jitp_data('s411')['female_tweeter']['no_person_named'] + jitp_data('s411')['male_tweeter']['female_presenter_named'] + jitp_data('s411')['male_tweeter']['male_presenter_named'] + jitp_data('s411')['male_tweeter']['female_non-presenter_named'] + jitp_data('s411')['male_tweeter']['male_non-presenter_named'] + jitp_data('s411')['male_tweeter']['no_person_named'])) * 100) %>
			%td.formula
				%script{:type=>"text/jitp-template"}
					:plain
						<%= sprintf('%i (%.2f%%)', (jitp_data('s411')['female_tweeter']['female_presenter_named'] + jitp_data('s411')['female_tweeter']['male_presenter_named'] + jitp_data('s411')['female_tweeter']['female_non-presenter_named'] + jitp_data('s411')['female_tweeter']['male_non-presenter_named'] + jitp_data('s411')['female_tweeter']['no_person_named']), ((jitp_data('s411')['female_tweeter']['female_presenter_named'] + jitp_data('s411')['female_tweeter']['male_presenter_named'] + jitp_data('s411')['female_tweeter']['female_non-presenter_named'] + jitp_data('s411')['female_tweeter']['male_non-presenter_named'] + jitp_data('s411')['female_tweeter']['no_person_named']) / (jitp_data('s411')['female_tweeter']['female_presenter_named'] + jitp_data('s411')['female_tweeter']['male_presenter_named'] + jitp_data('s411')['female_tweeter']['female_non-presenter_named'] + jitp_data('s411')['female_tweeter']['male_non-presenter_named'] + jitp_data('s411')['female_tweeter']['no_person_named'] + jitp_data('s411')['male_tweeter']['female_presenter_named'] + jitp_data('s411')['male_tweeter']['male_presenter_named'] + jitp_data('s411')['male_tweeter']['female_non-presenter_named'] + jitp_data('s411')['male_tweeter']['male_non-presenter_named'] + jitp_data('s411')['male_tweeter']['no_person_named'])) * 100)
						 %>
		%tr
			%th{:scope=>"row"} Male Tweeter
			%td
				%script{:type=>"text/jitp-template"}
					:plain
						<%= sprintf('%i (%.2f%%)', jitp_data('s411')['male_tweeter']['female_presenter_named'],  (jitp_data('s411')['male_tweeter']['female_presenter_named'] / (jitp_data('s411')['female_tweeter']['female_presenter_named'] + jitp_data('s411')['female_tweeter']['male_presenter_named'] + jitp_data('s411')['female_tweeter']['female_non-presenter_named'] + jitp_data('s411')['female_tweeter']['male_non-presenter_named'] + jitp_data('s411')['female_tweeter']['no_person_named'] + jitp_data('s411')['male_tweeter']['female_presenter_named'] + jitp_data('s411')['male_tweeter']['male_presenter_named'] + jitp_data('s411')['male_tweeter']['female_non-presenter_named'] + jitp_data('s411')['male_tweeter']['male_non-presenter_named'] + jitp_data('s411')['male_tweeter']['no_person_named'])) * 100)  %>
			%td.formula
				%script{:type=>"text/jitp-template"}
					:plain
						<%= sprintf('%i (%.2f%%)', jitp_data('s411')['male_tweeter']['male_presenter_named'],  (jitp_data('s411')['male_tweeter']['male_presenter_named'] / (jitp_data('s411')['female_tweeter']['female_presenter_named'] + jitp_data('s411')['female_tweeter']['male_presenter_named'] + jitp_data('s411')['female_tweeter']['female_non-presenter_named'] + jitp_data('s411')['female_tweeter']['male_non-presenter_named'] + jitp_data('s411')['female_tweeter']['no_person_named'] + jitp_data('s411')['male_tweeter']['female_presenter_named'] + jitp_data('s411')['male_tweeter']['male_presenter_named'] + jitp_data('s411')['male_tweeter']['female_non-presenter_named'] + jitp_data('s411')['male_tweeter']['male_non-presenter_named'] + jitp_data('s411')['male_tweeter']['no_person_named'])) * 100) %>
			%td.formula
				%script{:type=>"text/jitp-template"}
					:plain
						<%= sprintf('%i (%.2f%%)', jitp_data('s411')['male_tweeter']['female_non-presenter_named'],
						(jitp_data('s411')['male_tweeter']['female_non-presenter_named'] / (jitp_data('s411')['female_tweeter']['female_presenter_named'] + jitp_data('s411')['female_tweeter']['male_presenter_named'] + jitp_data('s411')['female_tweeter']['female_non-presenter_named'] + jitp_data('s411')['female_tweeter']['male_non-presenter_named'] + jitp_data('s411')['female_tweeter']['no_person_named'] + jitp_data('s411')['male_tweeter']['female_presenter_named'] + jitp_data('s411')['male_tweeter']['male_presenter_named'] + jitp_data('s411')['male_tweeter']['female_non-presenter_named'] + jitp_data('s411')['male_tweeter']['male_non-presenter_named'] + jitp_data('s411')['male_tweeter']['no_person_named'])) * 100) %>
			%td.formula
				%script{:type=>"text/jitp-template"}
					:plain
						<%= sprintf('%i (%.2f%%)', jitp_data('s411')['male_tweeter']['male_non-presenter_named'],
						(jitp_data('s411')['male_tweeter']['male_non-presenter_named'] / (jitp_data('s411')['female_tweeter']['female_presenter_named'] + jitp_data('s411')['female_tweeter']['male_presenter_named'] + jitp_data('s411')['female_tweeter']['female_non-presenter_named'] + jitp_data('s411')['female_tweeter']['male_non-presenter_named'] + jitp_data('s411')['female_tweeter']['no_person_named'] + jitp_data('s411')['male_tweeter']['female_presenter_named'] + jitp_data('s411')['male_tweeter']['male_presenter_named'] + jitp_data('s411')['male_tweeter']['female_non-presenter_named'] + jitp_data('s411')['male_tweeter']['male_non-presenter_named'] + jitp_data('s411')['male_tweeter']['no_person_named'])) * 100) %>
			%td.formula
				%script{:type=>"text/jitp-template"}
					:plain
						<%= sprintf('%i (%.2f%%)', jitp_data('s411')['male_tweeter']['no_person_named'],
						(jitp_data('s411')['male_tweeter']['no_person_named'] / (jitp_data('s411')['female_tweeter']['female_presenter_named'] + jitp_data('s411')['female_tweeter']['male_presenter_named'] + jitp_data('s411')['female_tweeter']['female_non-presenter_named'] + jitp_data('s411')['female_tweeter']['male_non-presenter_named'] + jitp_data('s411')['female_tweeter']['no_person_named'] + jitp_data('s411')['male_tweeter']['female_presenter_named'] + jitp_data('s411')['male_tweeter']['male_presenter_named'] + jitp_data('s411')['male_tweeter']['female_non-presenter_named'] + jitp_data('s411')['male_tweeter']['male_non-presenter_named'] + jitp_data('s411')['male_tweeter']['no_person_named'])) * 100) %>
			%td.formula
				%script{:type=>"text/jitp-template"}
					:plain
						<%= sprintf('%i (%.2f%%)', (jitp_data('s411')['male_tweeter']['female_presenter_named'] + jitp_data('s411')['male_tweeter']['male_presenter_named'] + jitp_data('s411')['male_tweeter']['female_non-presenter_named'] + jitp_data('s411')['male_tweeter']['male_non-presenter_named'] + jitp_data('s411')['male_tweeter']['no_person_named']), ((jitp_data('s411')['male_tweeter']['female_presenter_named'] + jitp_data('s411')['male_tweeter']['male_presenter_named'] + jitp_data('s411')['male_tweeter']['female_non-presenter_named'] + jitp_data('s411')['male_tweeter']['male_non-presenter_named'] + jitp_data('s411')['male_tweeter']['no_person_named']) / (jitp_data('s411')['female_tweeter']['female_presenter_named'] + jitp_data('s411')['female_tweeter']['male_presenter_named'] + jitp_data('s411')['female_tweeter']['female_non-presenter_named'] + jitp_data('s411')['female_tweeter']['male_non-presenter_named'] + jitp_data('s411')['female_tweeter']['no_person_named'] + jitp_data('s411')['male_tweeter']['female_presenter_named'] + jitp_data('s411')['male_tweeter']['male_presenter_named'] + jitp_data('s411')['male_tweeter']['female_non-presenter_named'] + jitp_data('s411')['male_tweeter']['male_non-presenter_named'] + jitp_data('s411')['male_tweeter']['no_person_named'])) * 100)
						 %>
		%tr
			%th{:scope=>"row"} Total Named Tweets
			%td
				%script{:type=>"text/jitp-template"}
					:plain
						<%= sprintf('%i (%.2f%%)', (jitp_data('s411')['male_tweeter']['female_presenter_named'] + jitp_data('s411')['female_tweeter']['female_presenter_named']),  ((jitp_data('s411')['male_tweeter']['female_presenter_named'] + jitp_data('s411')['female_tweeter']['female_presenter_named']) / (jitp_data('s411')['female_tweeter']['female_presenter_named'] + jitp_data('s411')['female_tweeter']['male_presenter_named'] + jitp_data('s411')['female_tweeter']['female_non-presenter_named'] + jitp_data('s411')['female_tweeter']['male_non-presenter_named'] + jitp_data('s411')['female_tweeter']['no_person_named'] + jitp_data('s411')['male_tweeter']['female_presenter_named'] + jitp_data('s411')['male_tweeter']['male_presenter_named'] + jitp_data('s411')['male_tweeter']['female_non-presenter_named'] + jitp_data('s411')['male_tweeter']['male_non-presenter_named'] + jitp_data('s411')['male_tweeter']['no_person_named'])) * 100)  %>
			%td.formula
				%script{:type=>"text/jitp-template"}
					:plain
						<%= sprintf('%i (%.2f%%)', (jitp_data('s411')['male_tweeter']['male_presenter_named'] + jitp_data('s411')['female_tweeter']['male_presenter_named']),  ((jitp_data('s411')['male_tweeter']['male_presenter_named'] + jitp_data('s411')['female_tweeter']['male_presenter_named']) / (jitp_data('s411')['female_tweeter']['female_presenter_named'] + jitp_data('s411')['female_tweeter']['male_presenter_named'] + jitp_data('s411')['female_tweeter']['female_non-presenter_named'] + jitp_data('s411')['female_tweeter']['male_non-presenter_named'] + jitp_data('s411')['female_tweeter']['no_person_named'] + jitp_data('s411')['male_tweeter']['female_presenter_named'] + jitp_data('s411')['male_tweeter']['male_presenter_named'] + jitp_data('s411')['male_tweeter']['female_non-presenter_named'] + jitp_data('s411')['male_tweeter']['male_non-presenter_named'] + jitp_data('s411')['male_tweeter']['no_person_named'])) * 100) %>
			%td.formula
				%script{:type=>"text/jitp-template"}
					:plain
						<%= sprintf('%i (%.2f%%)', (jitp_data('s411')['male_tweeter']['female_non-presenter_named'] + jitp_data('s411')['female_tweeter']['female_non-presenter_named']),
						((jitp_data('s411')['male_tweeter']['female_non-presenter_named'] + jitp_data('s411')['female_tweeter']['female_non-presenter_named']) / (jitp_data('s411')['female_tweeter']['female_presenter_named'] + jitp_data('s411')['female_tweeter']['male_presenter_named'] + jitp_data('s411')['female_tweeter']['female_non-presenter_named'] + jitp_data('s411')['female_tweeter']['male_non-presenter_named'] + jitp_data('s411')['female_tweeter']['no_person_named'] + jitp_data('s411')['male_tweeter']['female_presenter_named'] + jitp_data('s411')['male_tweeter']['male_presenter_named'] + jitp_data('s411')['male_tweeter']['female_non-presenter_named'] + jitp_data('s411')['male_tweeter']['male_non-presenter_named'] + jitp_data('s411')['male_tweeter']['no_person_named'])) * 100) %>
			%td.formula
				%script{:type=>"text/jitp-template"}
					:plain
						<%= sprintf('%i (%.2f%%)', (jitp_data('s411')['male_tweeter']['male_non-presenter_named'] + jitp_data('s411')['female_tweeter']['male_non-presenter_named']),
						((jitp_data('s411')['male_tweeter']['male_non-presenter_named'] + jitp_data('s411')['female_tweeter']['male_non-presenter_named']) / (jitp_data('s411')['female_tweeter']['female_presenter_named'] + jitp_data('s411')['female_tweeter']['male_presenter_named'] + jitp_data('s411')['female_tweeter']['female_non-presenter_named'] + jitp_data('s411')['female_tweeter']['male_non-presenter_named'] + jitp_data('s411')['female_tweeter']['no_person_named'] + jitp_data('s411')['male_tweeter']['female_presenter_named'] + jitp_data('s411')['male_tweeter']['male_presenter_named'] + jitp_data('s411')['male_tweeter']['female_non-presenter_named'] + jitp_data('s411')['male_tweeter']['male_non-presenter_named'] + jitp_data('s411')['male_tweeter']['no_person_named'])) * 100) %>
			%td.formula
				%script{:type=>"text/jitp-template"}
					:plain
						<%= sprintf('%i (%.2f%%)', (jitp_data('s411')['male_tweeter']['no_person_named'] + jitp_data('s411')['female_tweeter']['no_person_named']),
						((jitp_data('s411')['male_tweeter']['no_person_named'] + jitp_data('s411')['female_tweeter']['no_person_named']) / (jitp_data('s411')['female_tweeter']['female_presenter_named'] + jitp_data('s411')['female_tweeter']['male_presenter_named'] + jitp_data('s411')['female_tweeter']['female_non-presenter_named'] + jitp_data('s411')['female_tweeter']['male_non-presenter_named'] + jitp_data('s411')['female_tweeter']['no_person_named'] + jitp_data('s411')['male_tweeter']['female_presenter_named'] + jitp_data('s411')['male_tweeter']['male_presenter_named'] + jitp_data('s411')['male_tweeter']['female_non-presenter_named'] + jitp_data('s411')['male_tweeter']['male_non-presenter_named'] + jitp_data('s411')['male_tweeter']['no_person_named'])) * 100) %>
			%td.formula
				%script{:type=>"text/jitp-template"}
					:plain
						<%= sprintf('%i (%.2f%%)', (jitp_data('s411')['male_tweeter']['female_presenter_named'] + jitp_data('s411')['male_tweeter']['male_presenter_named'] + jitp_data('s411')['male_tweeter']['female_non-presenter_named'] + jitp_data('s411')['male_tweeter']['male_non-presenter_named'] + jitp_data('s411')['male_tweeter']['no_person_named'] + jitp_data('s411')['female_tweeter']['female_presenter_named'] + jitp_data('s411')['female_tweeter']['male_presenter_named'] + jitp_data('s411')['female_tweeter']['female_non-presenter_named'] + jitp_data('s411')['female_tweeter']['male_non-presenter_named'] + jitp_data('s411')['female_tweeter']['no_person_named']), 100)
						 %>

%h2 Table 6: Storified Tweets by Topic #MLA16 #s411

%table.table.table-hover.table-bordered#table6
	%thead
		%tr
			%th 
			%th Metacomment
			%th Summary or Quotation
			%th Citation
			%th Response or Question
			%th Room Climate
			%th Total tweets by gender
	%tbody
		%tr
			%th{:scope=>"row"} Female Tweeter
			%td
				%script{:type=>"text/jitp-template"}
					:plain
						<%= sprintf('%i (%.2f%%)', jitp_data('s411')['female_tweeter']['metacomment'],  (jitp_data('s411')['female_tweeter']['metacomment'] / (jitp_data('s411')['female_tweeter']['metacomment'] + jitp_data('s411')['female_tweeter']['summary_or_quotation'] + jitp_data('s411')['female_tweeter']['citation'] + jitp_data('s411')['female_tweeter']['response_or_question'] + jitp_data('s411')['female_tweeter']['room_climate'] + jitp_data('s411')['male_tweeter']['metacomment'] + jitp_data('s411')['male_tweeter']['summary_or_quotation'] + jitp_data('s411')['male_tweeter']['citation'] + jitp_data('s411')['male_tweeter']['response_or_question'] + jitp_data('s411')['male_tweeter']['room_climate'])) * 100)  %>
			%td.formula
				%script{:type=>"text/jitp-template"}
					:plain
						<%= sprintf('%i (%.2f%%)', jitp_data('s411')['female_tweeter']['summary_or_quotation'],  (jitp_data('s411')['female_tweeter']['summary_or_quotation'] / (jitp_data('s411')['female_tweeter']['metacomment'] + jitp_data('s411')['female_tweeter']['summary_or_quotation'] + jitp_data('s411')['female_tweeter']['citation'] + jitp_data('s411')['female_tweeter']['response_or_question'] + jitp_data('s411')['female_tweeter']['room_climate'] + jitp_data('s411')['male_tweeter']['metacomment'] + jitp_data('s411')['male_tweeter']['summary_or_quotation'] + jitp_data('s411')['male_tweeter']['citation'] + jitp_data('s411')['male_tweeter']['response_or_question'] + jitp_data('s411')['male_tweeter']['room_climate'])) * 100) %>
			%td.formula
				%script{:type=>"text/jitp-template"}
					:plain
						<%= sprintf('%i (%.2f%%)', jitp_data('s411')['female_tweeter']['citation'],
						(jitp_data('s411')['female_tweeter']['citation'] / (jitp_data('s411')['female_tweeter']['metacomment'] + jitp_data('s411')['female_tweeter']['summary_or_quotation'] + jitp_data('s411')['female_tweeter']['citation'] + jitp_data('s411')['female_tweeter']['response_or_question'] + jitp_data('s411')['female_tweeter']['room_climate'] + jitp_data('s411')['male_tweeter']['metacomment'] + jitp_data('s411')['male_tweeter']['summary_or_quotation'] + jitp_data('s411')['male_tweeter']['citation'] + jitp_data('s411')['male_tweeter']['response_or_question'] + jitp_data('s411')['male_tweeter']['room_climate'])) * 100) %>
			%td.formula
				%script{:type=>"text/jitp-template"}
					:plain
						<%= sprintf('%i (%.2f%%)', jitp_data('s411')['female_tweeter']['response_or_question'],
						(jitp_data('s411')['female_tweeter']['response_or_question'] / (jitp_data('s411')['female_tweeter']['metacomment'] + jitp_data('s411')['female_tweeter']['summary_or_quotation'] + jitp_data('s411')['female_tweeter']['citation'] + jitp_data('s411')['female_tweeter']['response_or_question'] + jitp_data('s411')['female_tweeter']['room_climate'] + jitp_data('s411')['male_tweeter']['metacomment'] + jitp_data('s411')['male_tweeter']['summary_or_quotation'] + jitp_data('s411')['male_tweeter']['citation'] + jitp_data('s411')['male_tweeter']['response_or_question'] + jitp_data('s411')['male_tweeter']['room_climate'])) * 100) %>
			%td.formula
				%script{:type=>"text/jitp-template"}
					:plain
						<%= sprintf('%i (%.2f%%)', jitp_data('s411')['female_tweeter']['room_climate'],
						(jitp_data('s411')['female_tweeter']['room_climate'] / (jitp_data('s411')['female_tweeter']['metacomment'] + jitp_data('s411')['female_tweeter']['summary_or_quotation'] + jitp_data('s411')['female_tweeter']['citation'] + jitp_data('s411')['female_tweeter']['response_or_question'] + jitp_data('s411')['female_tweeter']['room_climate'] + jitp_data('s411')['male_tweeter']['metacomment'] + jitp_data('s411')['male_tweeter']['summary_or_quotation'] + jitp_data('s411')['male_tweeter']['citation'] + jitp_data('s411')['male_tweeter']['response_or_question'] + jitp_data('s411')['male_tweeter']['room_climate'])) * 100) %>
			%td.formula
				%script{:type=>"text/jitp-template"}
					:plain
						<%= sprintf('%i (%.2f%%)', (jitp_data('s411')['female_tweeter']['metacomment'] + jitp_data('s411')['female_tweeter']['summary_or_quotation'] + jitp_data('s411')['female_tweeter']['citation'] + jitp_data('s411')['female_tweeter']['response_or_question'] + jitp_data('s411')['female_tweeter']['room_climate']), ((jitp_data('s411')['female_tweeter']['metacomment'] + jitp_data('s411')['female_tweeter']['summary_or_quotation'] + jitp_data('s411')['female_tweeter']['citation'] + jitp_data('s411')['female_tweeter']['response_or_question'] + jitp_data('s411')['female_tweeter']['room_climate']) / (jitp_data('s411')['female_tweeter']['metacomment'] + jitp_data('s411')['female_tweeter']['summary_or_quotation'] + jitp_data('s411')['female_tweeter']['citation'] + jitp_data('s411')['female_tweeter']['response_or_question'] + jitp_data('s411')['female_tweeter']['room_climate'] + jitp_data('s411')['male_tweeter']['metacomment'] + jitp_data('s411')['male_tweeter']['summary_or_quotation'] + jitp_data('s411')['male_tweeter']['citation'] + jitp_data('s411')['male_tweeter']['response_or_question'] + jitp_data('s411')['male_tweeter']['room_climate'])) * 100)
						 %>
		%tr
			%th{:scope=>"row"} Male Tweeter
			%td
				%script{:type=>"text/jitp-template"}
					:plain
						<%= sprintf('%i (%.2f%%)', jitp_data('s411')['male_tweeter']['metacomment'],  (jitp_data('s411')['male_tweeter']['metacomment'] / (jitp_data('s411')['female_tweeter']['metacomment'] + jitp_data('s411')['female_tweeter']['summary_or_quotation'] + jitp_data('s411')['female_tweeter']['citation'] + jitp_data('s411')['female_tweeter']['response_or_question'] + jitp_data('s411')['female_tweeter']['room_climate'] + jitp_data('s411')['male_tweeter']['metacomment'] + jitp_data('s411')['male_tweeter']['summary_or_quotation'] + jitp_data('s411')['male_tweeter']['citation'] + jitp_data('s411')['male_tweeter']['response_or_question'] + jitp_data('s411')['male_tweeter']['room_climate'])) * 100)  %>
			%td.formula
				%script{:type=>"text/jitp-template"}
					:plain
						<%= sprintf('%i (%.2f%%)', jitp_data('s411')['male_tweeter']['summary_or_quotation'],  (jitp_data('s411')['male_tweeter']['summary_or_quotation'] / (jitp_data('s411')['female_tweeter']['metacomment'] + jitp_data('s411')['female_tweeter']['summary_or_quotation'] + jitp_data('s411')['female_tweeter']['citation'] + jitp_data('s411')['female_tweeter']['response_or_question'] + jitp_data('s411')['female_tweeter']['room_climate'] + jitp_data('s411')['male_tweeter']['metacomment'] + jitp_data('s411')['male_tweeter']['summary_or_quotation'] + jitp_data('s411')['male_tweeter']['citation'] + jitp_data('s411')['male_tweeter']['response_or_question'] + jitp_data('s411')['male_tweeter']['room_climate'])) * 100) %>
			%td.formula
				%script{:type=>"text/jitp-template"}
					:plain
						<%= sprintf('%i (%.2f%%)', jitp_data('s411')['male_tweeter']['citation'],
						(jitp_data('s411')['male_tweeter']['citation'] / (jitp_data('s411')['female_tweeter']['metacomment'] + jitp_data('s411')['female_tweeter']['summary_or_quotation'] + jitp_data('s411')['female_tweeter']['citation'] + jitp_data('s411')['female_tweeter']['response_or_question'] + jitp_data('s411')['female_tweeter']['room_climate'] + jitp_data('s411')['male_tweeter']['metacomment'] + jitp_data('s411')['male_tweeter']['summary_or_quotation'] + jitp_data('s411')['male_tweeter']['citation'] + jitp_data('s411')['male_tweeter']['response_or_question'] + jitp_data('s411')['male_tweeter']['room_climate'])) * 100) %>
			%td.formula
				%script{:type=>"text/jitp-template"}
					:plain
						<%= sprintf('%i (%.2f%%)', jitp_data('s411')['male_tweeter']['response_or_question'],
						(jitp_data('s411')['male_tweeter']['response_or_question'] / (jitp_data('s411')['female_tweeter']['metacomment'] + jitp_data('s411')['female_tweeter']['summary_or_quotation'] + jitp_data('s411')['female_tweeter']['citation'] + jitp_data('s411')['female_tweeter']['response_or_question'] + jitp_data('s411')['female_tweeter']['room_climate'] + jitp_data('s411')['male_tweeter']['metacomment'] + jitp_data('s411')['male_tweeter']['summary_or_quotation'] + jitp_data('s411')['male_tweeter']['citation'] + jitp_data('s411')['male_tweeter']['response_or_question'] + jitp_data('s411')['male_tweeter']['room_climate'])) * 100) %>
			%td.formula
				%script{:type=>"text/jitp-template"}
					:plain
						<%= sprintf('%i (%.2f%%)', jitp_data('s411')['male_tweeter']['room_climate'],
						(jitp_data('s411')['male_tweeter']['room_climate'] / (jitp_data('s411')['female_tweeter']['metacomment'] + jitp_data('s411')['female_tweeter']['summary_or_quotation'] + jitp_data('s411')['female_tweeter']['citation'] + jitp_data('s411')['female_tweeter']['response_or_question'] + jitp_data('s411')['female_tweeter']['room_climate'] + jitp_data('s411')['male_tweeter']['metacomment'] + jitp_data('s411')['male_tweeter']['summary_or_quotation'] + jitp_data('s411')['male_tweeter']['citation'] + jitp_data('s411')['male_tweeter']['response_or_question'] + jitp_data('s411')['male_tweeter']['room_climate'])) * 100) %>
			%td.formula
				%script{:type=>"text/jitp-template"}
					:plain
						<%= sprintf('%i (%.2f%%)', (jitp_data('s411')['male_tweeter']['metacomment'] + jitp_data('s411')['male_tweeter']['summary_or_quotation'] + jitp_data('s411')['male_tweeter']['citation'] + jitp_data('s411')['male_tweeter']['response_or_question'] + jitp_data('s411')['male_tweeter']['room_climate']), ((jitp_data('s411')['male_tweeter']['metacomment'] + jitp_data('s411')['male_tweeter']['summary_or_quotation'] + jitp_data('s411')['male_tweeter']['citation'] + jitp_data('s411')['male_tweeter']['response_or_question'] + jitp_data('s411')['male_tweeter']['room_climate']) / (jitp_data('s411')['female_tweeter']['metacomment'] + jitp_data('s411')['female_tweeter']['summary_or_quotation'] + jitp_data('s411')['female_tweeter']['citation'] + jitp_data('s411')['female_tweeter']['response_or_question'] + jitp_data('s411')['female_tweeter']['room_climate'] + jitp_data('s411')['male_tweeter']['metacomment'] + jitp_data('s411')['male_tweeter']['summary_or_quotation'] + jitp_data('s411')['male_tweeter']['citation'] + jitp_data('s411')['male_tweeter']['response_or_question'] + jitp_data('s411')['male_tweeter']['room_climate'])) * 100)
						 %>
		%tr
			%th{:scope=>"row"} Total Named Tweets
			%td
				%script{:type=>"text/jitp-template"}
					:plain
						<%= sprintf('%i (%.2f%%)', (jitp_data('s411')['male_tweeter']['metacomment'] + jitp_data('s411')['female_tweeter']['metacomment']),  ((jitp_data('s411')['male_tweeter']['metacomment'] + jitp_data('s411')['female_tweeter']['metacomment']) / (jitp_data('s411')['female_tweeter']['metacomment'] + jitp_data('s411')['female_tweeter']['summary_or_quotation'] + jitp_data('s411')['female_tweeter']['citation'] + jitp_data('s411')['female_tweeter']['response_or_question'] + jitp_data('s411')['female_tweeter']['room_climate'] + jitp_data('s411')['male_tweeter']['metacomment'] + jitp_data('s411')['male_tweeter']['summary_or_quotation'] + jitp_data('s411')['male_tweeter']['citation'] + jitp_data('s411')['male_tweeter']['response_or_question'] + jitp_data('s411')['male_tweeter']['room_climate'])) * 100)  %>
			%td.formula
				%script{:type=>"text/jitp-template"}
					:plain
						<%= sprintf('%i (%.2f%%)', (jitp_data('s411')['male_tweeter']['summary_or_quotation'] + jitp_data('s411')['female_tweeter']['summary_or_quotation']),  ((jitp_data('s411')['male_tweeter']['summary_or_quotation'] + jitp_data('s411')['female_tweeter']['summary_or_quotation']) / (jitp_data('s411')['female_tweeter']['metacomment'] + jitp_data('s411')['female_tweeter']['summary_or_quotation'] + jitp_data('s411')['female_tweeter']['citation'] + jitp_data('s411')['female_tweeter']['response_or_question'] + jitp_data('s411')['female_tweeter']['room_climate'] + jitp_data('s411')['male_tweeter']['metacomment'] + jitp_data('s411')['male_tweeter']['summary_or_quotation'] + jitp_data('s411')['male_tweeter']['citation'] + jitp_data('s411')['male_tweeter']['response_or_question'] + jitp_data('s411')['male_tweeter']['room_climate'])) * 100) %>
			%td.formula
				%script{:type=>"text/jitp-template"}
					:plain
						<%= sprintf('%i (%.2f%%)', (jitp_data('s411')['male_tweeter']['citation'] + jitp_data('s411')['female_tweeter']['citation']),
						((jitp_data('s411')['male_tweeter']['citation'] + jitp_data('s411')['female_tweeter']['citation']) / (jitp_data('s411')['female_tweeter']['metacomment'] + jitp_data('s411')['female_tweeter']['summary_or_quotation'] + jitp_data('s411')['female_tweeter']['citation'] + jitp_data('s411')['female_tweeter']['response_or_question'] + jitp_data('s411')['female_tweeter']['room_climate'] + jitp_data('s411')['male_tweeter']['metacomment'] + jitp_data('s411')['male_tweeter']['summary_or_quotation'] + jitp_data('s411')['male_tweeter']['citation'] + jitp_data('s411')['male_tweeter']['response_or_question'] + jitp_data('s411')['male_tweeter']['room_climate'])) * 100) %>
			%td.formula
				%script{:type=>"text/jitp-template"}
					:plain
						<%= sprintf('%i (%.2f%%)', (jitp_data('s411')['male_tweeter']['response_or_question'] + jitp_data('s411')['female_tweeter']['response_or_question']),
						((jitp_data('s411')['male_tweeter']['response_or_question'] + jitp_data('s411')['female_tweeter']['response_or_question']) / (jitp_data('s411')['female_tweeter']['metacomment'] + jitp_data('s411')['female_tweeter']['summary_or_quotation'] + jitp_data('s411')['female_tweeter']['citation'] + jitp_data('s411')['female_tweeter']['response_or_question'] + jitp_data('s411')['female_tweeter']['room_climate'] + jitp_data('s411')['male_tweeter']['metacomment'] + jitp_data('s411')['male_tweeter']['summary_or_quotation'] + jitp_data('s411')['male_tweeter']['citation'] + jitp_data('s411')['male_tweeter']['response_or_question'] + jitp_data('s411')['male_tweeter']['room_climate'])) * 100) %>
			%td.formula
				%script{:type=>"text/jitp-template"}
					:plain
						<%= sprintf('%i (%.2f%%)', (jitp_data('s411')['male_tweeter']['room_climate'] + jitp_data('s411')['female_tweeter']['room_climate']),
						((jitp_data('s411')['male_tweeter']['room_climate'] + jitp_data('s411')['female_tweeter']['room_climate']) / (jitp_data('s411')['female_tweeter']['metacomment'] + jitp_data('s411')['female_tweeter']['summary_or_quotation'] + jitp_data('s411')['female_tweeter']['citation'] + jitp_data('s411')['female_tweeter']['response_or_question'] + jitp_data('s411')['female_tweeter']['room_climate'] + jitp_data('s411')['male_tweeter']['metacomment'] + jitp_data('s411')['male_tweeter']['summary_or_quotation'] + jitp_data('s411')['male_tweeter']['citation'] + jitp_data('s411')['male_tweeter']['response_or_question'] + jitp_data('s411')['male_tweeter']['room_climate'])) * 100) %>
			%td.formula
				%script{:type=>"text/jitp-template"}
					:plain
						<%= sprintf('%i (%.2f%%)', (jitp_data('s411')['male_tweeter']['metacomment'] + jitp_data('s411')['male_tweeter']['summary_or_quotation'] + jitp_data('s411')['male_tweeter']['citation'] + jitp_data('s411')['male_tweeter']['response_or_question'] + jitp_data('s411')['male_tweeter']['room_climate'] + jitp_data('s411')['female_tweeter']['metacomment'] + jitp_data('s411')['female_tweeter']['summary_or_quotation'] + jitp_data('s411')['female_tweeter']['citation'] + jitp_data('s411')['female_tweeter']['response_or_question'] + jitp_data('s411')['female_tweeter']['room_climate']), 100)
						 %>