%h1 Figures

%h2 Figure 1: Expected vs Actual Tweets About Female & Male Presenters

#figure1.figure
	%svg

%h2 Figure 2: Expected vs Actual Tweets About Female & Male Presenters (w/o Super-Tweeters)

#figure2.figure
	%svg

%h2 Figure 3: Mentions of Non-Presenters By Gender

#figure3.figure
	%svg

%h2 Figure 4: Mentions of Non-Presenters By Gender (w/o Super-Tweeters)

#figure4.figure
	%svg
	
%h2 Figures 5 & 6: Breakdown of Topics by Gender (Women & Women w/o Super-Tweeters)

.row
	.col-md-6
		#figure5.figure
			%svg
		%h3.text-center Figure 5
	.col-md-6
		#figure6.figure
			%svg
		%h3.text-center Figure 6
		
%h2 Figures 7 & 8: Breakdown of Topics by Gender (Men & Men w/o Super-Tweeters)

.row
	.col-md-6
		#figure7.figure
			%svg
		%h3.text-center Figure 7
	.col-md-6
		#figure8.figure
			%svg
		%h3.text-center Figure 8
		
%h2 Figures 9 & 10: Breakdown of Genders Mentioned (Women & Women w/o Super-Tweeters)

.row
	.col-md-6
		#figure9.figure
			%svg
		%h3.text-center Figure 9
	.col-md-6
		#figure10.figure
			%svg
		%h3.text-center Figure 10
		
%h2 Figures 11 & 12: Breakdown of Genders Mentioned (Men & Men w/o Super-Tweeters)

.row
	.col-md-6
		#figure11.figure
			%svg
		%h3.text-center Figure 11
	.col-md-6
		#figure12.figure
			%svg
		%h3.text-center Figure 12