%h1 Figures

%h2 Figure 1: Expected vs Actual Tweets About Female & Male Presenters

#figure1.figure
	%svg

%h2 Figure 2: Expected vs Actual Tweets About Female & Male Presenters (w/o Super-Tweeters)

#figure2.figure
	%svg

%h2 Figure 3: Mentions of Non-Presenters By Gender

#figure3.figure
	%svg

%h2 Figure 4: Mentions of Non-Presenters By Gender (w/o Super-Tweeters)

#figure4.figure
	%svg
	
%h2 Figures 5: Breakdown of Topics by Gender (Women)

#figure5.figure
	%svg

%h2 Figures 6: Breakdown of Topics by Gender (Women w/o Super-Tweeters)

#figure6.figure
	%svg
		
%h2 Figures 7: Breakdown of Topics by Gender (Men)

#figure7.figure
	%svg

%h2 Figure 8: Breakdown of Topics by Gender (Men w/o Super-Tweeters)

#figure8.figure
	%svg

		
%h2 Figures 9: Breakdown of Mentions By Gender (Women)

#figure9.figure
	%svg
%h2 Figures 10: Breakdown of Mentions By Gender (Women w/o Super-Tweeters)
#figure10.figure
	%svg
		
%h2 Figures 11: Breakdown of Mentions By Gender (Men)

#figure11.figure
	%svg

%h2 Figures 12: Breakdown of Mentions By Gender (Men w/o Super-Tweeters)
#figure12.figure
	%svg